<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.8.2/angular-locale_ko-kr.min.js"></script>
<title>Insert title here</title>
<script>
	var app=angular.module("test_app",[])
	app.run(function($rootScope){
		$rootScope.data1="abCDEf"
		$rootScope.data2= [
			{a1 : "홍길동", a2 : 30},
			{a1 : "김길동", a2 : 40},
			{a1 : "박길동", a2 : 20}
		]
		$rootScope.data3=12345678.123456 // 3자리마다 콤마를찍어서 화폐단위 구분
		$rootScope.data4=new Date()
		$rootScope.data5=['aaaa','aabb','aacc','bbcc','cccc']
	})
</script>

</head>
<body>
<div ng-app="test_app">
	<p>upper case: {{data1 | uppercase }}</p>
	<p>lower case: {{data1 | lowercase }}</p>
	<hr>
	<p ng-repeat="obj in data2">a1 : {{obj.a1}}, a2: {{obj.a2}}</p>
	<hr>
	<p ng-repeat="obj in data2 | orderBy : 'a1'">a1:{{obj.a1}}, a2:{{obj.a2}}</p>
	<hr>
	<p ng-repeat="obj in data2 | orderBy : 'a2'">a1:{{obj.a1}},a2:{{obj.a2}}</p>
	<hr>
	<p>currency: {{data3 | currency}}</p>
	<p>date: {{data4 | date:'yyyy년 MM월 dd일 HH시 mm분 ss초 EEEE'}}</p>
	<hr>
	<p ng-repeat="str in data5 | filter : 'aa'">{{str}}</p>
	<hr>
	<input type="text" ng-model="keyword"/><br>
	<p ng-repeat="str in data5 | filter:keyword">{{str}}</p>
	<hr>
	<p ng-repeat="str in data5 | limitTo:3 : 2">{{str}}</p>
	<hr>
	<p>{{data1 |  limitTo:3 : 2}}</p>
	<hr>
	<p>{{data3}}</p>
	<p>{{data3 | number : 2}}</p>
</div>
</body>
</html>